  
.wrapper{

    height: 100vh;
    background-color: pink;
    
  }
  
  .login{
    width: 300px;
    padding: 20px;
    height: min-content;
    border-radius: 5px;
    color: black;
    background-color: rgb(232, 234, 237);
  }
  
    