.navbar {
  background-color: transparent;
  transition: 0.5s ease-out;
}

.navbar.colorChange {
  background-color: #008fb3;
  transition: 0.5s ease-out;
}

.icon-style:hover {
  color: #ffffff;
  background-color: #00718d !important;
  transition: 0.7s ease-in-out all;
  padding: 10px;
}
.type {
  color: #ffff00;
  text-shadow: 0 0 19px #ff0000;
}
.butt:hover  {
  color: #fff !important;
  background-color: #000 !important;
}